.header {
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
}

.logo {
  width: 100px;
  padding: 4px 4px;
}

.nav-items {
  padding: 4px 4px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  
}

.nav-items > ul > li {
  padding: 5px;
  margin: 5px;
}

.restro-card {
  width: 200px;
  padding: 15px;
}

.search {
  padding: 10px;
}

.restro-img {
  width: 100%;
}

.restro-card:hover {
  background: #e1e1e1;
  border: 1px solid #d0d0d0;
  cursor: pointer;
}

.restro-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.filter {
  margin: 10px;
  cursor: pointer;
}